
<div class="grid">
  <div class="col-4">
    <div>RMEMINDERS</div>
    <div class="grid">
      <div class="col">TITOLO</div>
      <div class="col">INIZIO</div>
      <div class="col">FINE</div>
      <div class="col"></div>
      <!--</div>
    <div class="grid" *ngFor="let a of reminderDtoList" (click)="showRRuleDateList(a.id)">
        <div class="col">{{a.r_title}}</div>
        <div class="col">{{formatDateDD_MM_YYYY(a.r_dt_start)}}</div>
        <div class="col">{{formatDateDD_MM_YYYY(a.r_until)}}</div>
        <div class="col">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-mr-2" (click)="confirmReminder(a.id)" ></button>
          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="rejectReminder(a.id)"></button>
        </div>-->
    </div>
  </div>
  <div class="col-8">

    <!--<div class="grid" *ngFor="let d of datesList">
      <div class="col-12">{{d.toString() ? d.toString() : ""}}</div>

    </div>-->
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <p-toast></p-toast>
    <full-calendar [options]="calendarOptions" #calendar></full-calendar>

  </div>
</div>
