<p-dialog header="Inserisci un evento" [(visible)]="display" [style]="{width:'500px'}" [modal]="true" position="top" >

    <ng-template pTemplate="header">
    <h3>Ricorrenza personalizzata</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="profileForm" (ngSubmit)="sendRequest()">
    <div class="grid">
      <div class="col-12"> </div>

      <div class="col-12"> </div>

      <div class="col-6">
        <div class="p-fluid p-grid">
          <div class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="title"/>
                <label for="inputtext">Titolo evento</label>
              </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <span class="p-float-label">
          <p-calendar id="inputdate" formControlName="ora_inizio" [timeOnly]="true" hourFormat="12" inputId="timeonly"></p-calendar>
          <label for="inputdate">Ora inizio</label>
        </span>
      </div>

      <div class="col-6">
        <br>
        <p-cascadeSelect [options]="elencoDomande!" formControlName="domanda_scelta" optionLabel="id" optionGroupLabel="tipo"
                         [optionGroupChildren]="['domande']" [style]="{'minWidth': '14rem'}" placeholder="Domanda"></p-cascadeSelect>

      </div>
      <div class="col-6">
        <br>
        <span class="p-float-label">
          <p-inputNumber formControlName="durata_evento" id="inputdurata" [showButtons]="true" [size]="7" [min]="30" [step]="15" ></p-inputNumber>
          <label for="inputdurata">Durata (min)</label>
        </span>
      </div>

      <div class="col-12"> </div>

      <div class="col-6">
        Ripeti ogni <p-inputNumber formControlName="repetitionNumber" [showButtons]="true" [size]="1" [min]="1" ></p-inputNumber>
      </div>
      <div class="col-6">
        <p-dropdown [options]="instanceType" formControlName="selectedInstance" id="inputistanza" optionLabel="name" [showClear]="true" placeholder="Istanza" (onChange)="unlockElements()" ></p-dropdown>
      </div>

      <div class="col-12" [hidden]="disableDayOftheWeek"> Si ripete il  </div>
      <div class="col-12" [hidden]="disableDayOftheWeek"> <p-selectButton [options]="days" formControlName="selectedDays" optionLabel="name" optionValue="code" [multiple]="true"></p-selectButton></div>

      <div class="col-12"> </div>

      <div class="col-5">
        <div class="p-field-radiobutton">
          <p-radioButton name="endInstance" value="Data" formControlName="endInstance" (onClick)="unlockElements()"></p-radioButton>
          <label >Data</label>
        </div>
      </div>
      <div class="col-7">
        <div class="p-field p-col-12 p-md-4">
          <p-calendar appendTo="body" formControlName="until_date_picked" [minDate]="selectedDate" [readonlyInput]="true" [showIcon]="true" inputId="min-max" [disabled]="disableDP" ></p-calendar>
        </div>
      </div>

      <div class="col-5">
        <div class="p-field-radiobutton">
          <p-radioButton name="endInstance" value="Dopo" formControlName="endInstance" (onClick)="unlockElements()"></p-radioButton>
          <label >Dopo</label>
        </div>
      </div>
      <div class="col-7">
        <p-inputNumber formControlName="occurrencyNumber" [showButtons]="true" [size]="1" [min]="0" [disabled]="disableOcc"></p-inputNumber> Occorrenze
      </div>


    </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="submit" label="Salva" (click)="salvaEvento()"></button>
    <button pButton type="button" label="Annulla" class="p-button-danger" (click)="closeDialog()"></button>
  </ng-template>

</p-dialog>
<p-toast></p-toast>
<full-calendar [options]="calendarOptions" #calendar></full-calendar>
