/* You can add global styles to this file, and also import other style files */
.col{
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
}

.edit_event{
  display: flex;
  vertical-align: center;
  margin: 30px;
  justify-content: left;
}
